body {
  font-family: sans-serif;
  padding: 0 20px;
}
.container {
  display: block;
  margin: 20px;
}
h1,
h2 {
  margin: 20px;
}
.weather-icon {
  max-width: 10%;
}
.temperature {
  font-size: 25px;
}
.state {
  font-size: 25px;
}
.input-group {
  position: relative;
  background: #fff;
  top: -425px;
  left: 400px;
}
.effect {
  border: 1px solid gray;
  width: 25%;
  padding: 20px 30px;
  position: relative;
  top: -150px;
  right: 5px;
  margin: 20px auto;
}
.row {
  gap: 20px;
  margin: auto;
}
.days {
  margin: -120px 100px;
}

.col1 {
  border: 1px solid gray;
  margin: 0;
}
.col2 {
  border: 1px solid gray;
  margin-left: 10px;
}
.col3 {
  border: 1px solid gray;
  margin-left: 10px;
}
.col4 {
  border: 1px solid gray;
  margin-left: 10px;
}
.col5 {
  border: 1px solid gray;
  margin-left: 10px;
}
